services:

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis-data:/data
    restart: always

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

  postgres:
    image: postgres:15
    container_name: kong-postgres
    environment:
      POSTGRES_DB: kong
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kong
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    restart: always

  kong:
    image: kong/kong:3.6
    container_name: kong
    depends_on:
      - postgres
      - combined-cart-ms-service
    environment:
      KONG_DATABASE: "postgres"
      KONG_PG_HOST: postgres
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PROXY_LISTEN: "0.0.0.0:8000"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    ports:
      - "8000:8000"
      - "8001:8001"
    restart: always

  konga:
    image: pantsel/konga
    container_name: konga
    ports:
      - "1337:1337"
    environment:
      NODE_ENV: production
    depends_on:
      - kong
    restart: always

  combined-cart-ms-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: combined-cart-ms-service
    ports:
      - "8081:8081"
    depends_on:
      - redis
      - mongodb
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/combined_cart_db
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    restart: always

volumes:
  redis-data:
  mongo-data:
  pg-data:
