version: '3.8'

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

    volumes:
      - redis-data:/data
    restart: always

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

  combined-cart-ms-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: combined-cart-ms-service
    ports:
      - "8081:8081"
    depends_on:
      - redis
      - mongodb
    environment:
      # Use container names for internal connections
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/combined_cart_db
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    restart: always

volumes:
  redis-data:
  mongo-data:
